{%- assign publications = include.publications -%}
<div class="mt-3 mb-0 p-0 bg-white shadow-sm rounded-xl">

  <div class="border-bottom border-gray p-3 mb-0 d-flex justify-content-between align-items-center flex-wrap">
    <h6 class="mb-0 d-inline">
      {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i><span style="margin-left: 0.3em;">Selected Recent Publications</span>{% endif %}
    </h6>
    <small class="text-muted" style="font-size: 0.75em;">
      <sup>*</sup>equal contribution, <sup>†</sup>corresponding author
    </small>
  </div>

  <ul class="pub-list px-4 pt-2 pb-2 mb-0">
    {% for item in publications limit:include.limit %}
      {% include widgets/publication_item.html item=item %}
    {% endfor %}
  </ul>

  <h6 class="d-block px-3 pb-3 pt-0 mt-0 mb-0 text-right font-weight-normal">
    <a href="{{ 'publications' | relative_url }}">All Publications <i class="fas fa-angle-double-right"></i></a>
  </h6>
</div>
